<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jedi.playdb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <!--<activity-->
            <!--android:name=".ReadXml"-->
            <!--android:label="@string/title_activity_read_xml"-->
            <!--android:theme="@style/AppTheme.NoActionBar"><intent-filter>-->
                <!--<action android:name="android.intent.action.ReadXml" />-->
            <!--</intent-filter></activity>-->
        <provider
            android:name="com.example.jedi.playdb.data.WaitlistContentProvider"
            android:authorities="com.example.jedi.playdb"
            android:exported = "false"  />
            <!--THIS WILL DETERMINE IF OTHER APPS CAN ACCESS IT -->


    </application>

</manifest>